body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cadetblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  text-align: center;
  font-size: 40px;
  padding: 5px;
  color: maroon;
  background-color: bisque;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  fantasy;
}

.container {
  padding: 10px;
}
.fieldset2 {
  text-align: center;
  display: transparent;
  position: relative;
}
.fieldset3 {
  text-align: center;
  display: transparent;
  position: relative;
}
.fieldset1 {
  text-align: center;
  display: block;
  position: relative;
}
.error-msg {
  color: red;
  font-size: 12px;
}
.inactive {
  display: none!important;
}
.central {
  text-align: center;
}
.back {
  float: left;
  position: relative;
  cursor: pointer;
  background-color: darkgoldenrod;
  padding: 5px;
}
.back:hover{
  background-color: coral;
}